.u-section-1 .u-sheet-1 {
  min-height: 797px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 4.75rem;
  font-weight: 700;
  margin: 325px auto 0 33px;
}

.u-section-1 .u-text-2 {
  margin: 8px 84px 0 33px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  
  margin: 33px auto 60px 33px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 197%;
    left: -48%;
    height: 100%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .embed-responsive-1 {
    width: 262%;
    left: -81%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .embed-responsive-1 {
    width: 417%;
    left: -158%;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 354px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 88px auto 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 3060px;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 2940px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px 30px;
}

.u-section-3 .u-image-1 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 30px;
}

.u-section-3 .u-image-2 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 20px 30px;
}

.u-section-3 .u-image-3 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 20px 30px;
}

.u-section-3 .u-image-4 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 20px 30px;
}

.u-section-3 .u-image-5 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-10 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 20px 30px;
}

.u-section-3 .u-image-6 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-12 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 20px 30px;
}

.u-section-3 .u-image-7 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-14 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 20px 30px;
}

.u-section-3 .u-image-8 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-15 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-16 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 20px 30px;
}

.u-section-3 .u-image-9 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-17 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-18 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 20px 30px;
}

.u-section-3 .u-image-10 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-19 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-20 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 20px 30px;
}

.u-section-3 .u-image-11 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-21 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-22 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-11 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 20px 30px;
}

.u-section-3 .u-image-12 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-23 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-24 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-12 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 20px 30px;
}

.u-section-3 .u-image-13 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-25 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-26 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-13 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-14 {
  padding: 20px 30px;
}

.u-section-3 .u-image-14 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-27 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-28 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-14 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-15 {
  padding: 20px 30px;
}

.u-section-3 .u-image-15 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-29 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-30 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-15 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-16 {
  padding: 20px 30px;
}

.u-section-3 .u-image-16 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-31 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-32 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-16 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-17 {
  padding: 20px 30px;
}

.u-section-3 .u-image-17 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-33 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-34 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-17 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

.u-section-3 .u-container-layout-18 {
  padding: 20px 30px;
}

.u-section-3 .u-image-18 {
  height: 219px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-text-35 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-36 {
  margin: 18px 0 0;
}

.u-section-3 .u-btn-18 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 2424px;
  }

  .u-section-3 .u-image-1 {
    height: 173px;
  }

  .u-section-3 .u-btn-1 {
    padding: 2px 0;
  }

  .u-section-3 .u-image-2 {
    height: 173px;
  }

  .u-section-3 .u-btn-2 {
    padding: 2px 0;
  }

  .u-section-3 .u-image-3 {
    height: 173px;
  }

  .u-section-3 .u-image-4 {
    height: 173px;
  }

  .u-section-3 .u-image-5 {
    height: 173px;
  }

  .u-section-3 .u-image-6 {
    height: 173px;
  }

  .u-section-3 .u-image-7 {
    height: 173px;
  }

  .u-section-3 .u-image-8 {
    height: 173px;
  }

  .u-section-3 .u-image-9 {
    height: 173px;
  }

  .u-section-3 .u-image-10 {
    height: 173px;
  }

  .u-section-3 .u-image-11 {
    height: 173px;
  }

  .u-section-3 .u-image-12 {
    height: 173px;
  }

  .u-section-3 .u-image-13 {
    height: 173px;
  }

  .u-section-3 .u-image-14 {
    height: 173px;
  }

  .u-section-3 .u-image-15 {
    height: 173px;
  }

  .u-section-3 .u-image-16 {
    height: 173px;
  }

  .u-section-3 .u-image-17 {
    height: 173px;
  }

  .u-section-3 .u-image-18 {
    height: 173px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, 50%);
    min-height: 4178px;
  }

  .u-section-3 .u-image-1 {
    height: 205px;
  }

  .u-section-3 .u-image-2 {
    height: 205px;
  }

  .u-section-3 .u-image-3 {
    height: 205px;
  }

  .u-section-3 .u-image-4 {
    height: 205px;
  }

  .u-section-3 .u-image-5 {
    height: 205px;
  }

  .u-section-3 .u-image-6 {
    height: 205px;
  }

  .u-section-3 .u-image-7 {
    height: 205px;
  }

  .u-section-3 .u-image-8 {
    height: 205px;
  }

  .u-section-3 .u-image-9 {
    height: 205px;
  }

  .u-section-3 .u-image-10 {
    height: 205px;
  }

  .u-section-3 .u-image-11 {
    height: 205px;
  }

  .u-section-3 .u-image-12 {
    height: 205px;
  }

  .u-section-3 .u-image-13 {
    height: 205px;
  }

  .u-section-3 .u-image-14 {
    height: 205px;
  }

  .u-section-3 .u-image-15 {
    height: 205px;
  }

  .u-section-3 .u-image-16 {
    height: 205px;
  }

  .u-section-3 .u-image-17 {
    height: 205px;
  }

  .u-section-3 .u-image-18 {
    height: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-9 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-11 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-12 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-13 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-14 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-15 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-16 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-17 {
    height: 355px;
  }

  .u-section-3 .u-container-layout-18 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-18 {
    height: 355px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    height: 218px;
  }

  .u-section-3 .u-image-2 {
    height: 218px;
  }

  .u-section-3 .u-image-3 {
    height: 218px;
  }

  .u-section-3 .u-image-4 {
    height: 218px;
  }

  .u-section-3 .u-image-5 {
    height: 218px;
  }

  .u-section-3 .u-image-6 {
    height: 218px;
  }

  .u-section-3 .u-image-7 {
    height: 218px;
  }

  .u-section-3 .u-image-8 {
    height: 218px;
  }

  .u-section-3 .u-image-9 {
    height: 218px;
  }

  .u-section-3 .u-image-10 {
    height: 218px;
  }

  .u-section-3 .u-image-11 {
    height: 218px;
  }

  .u-section-3 .u-image-12 {
    height: 218px;
  }

  .u-section-3 .u-image-13 {
    height: 218px;
  }

  .u-section-3 .u-image-14 {
    height: 218px;
  }

  .u-section-3 .u-image-15 {
    height: 218px;
  }

  .u-section-3 .u-image-16 {
    height: 218px;
  }

  .u-section-3 .u-image-17 {
    height: 218px;
  }

  .u-section-3 .u-image-18 {
    height: 218px;
  }
}